NEXT_PUBLIC_SITE_URL=https://your-domain.com

# On-demand revalidation
REVALIDATION_SECRET=your-revalidation-secret
SITE_URL=https://www.your-domain.com

# ImageKit CDN Storage
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
